.question button {
  margin-left: 0.5em;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  color: #69b4e2;
}

.qanda .answer {
  display: none;
}

.qanda.shown .answer {
  display: block;
}
